#game-messages {
    height: 40vh !important;
}

#message-input {
    border-radius: 0 0;
    border: 1px solid grey;
}

.row-game-chat {
    margin-top: 3vh !important;
    margin-bottom: 1vh !important;
}

.dropdown-list {
    position: absolute;
    max-height: 36vh;
    top: 100%;
    width: 100%;
    z-index: 3210;
}

.game-body {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
}

.game-body-section {
    height: inherit;
}

#players {
    height: 52vh;
}

.player-list {
    max-height: 52vh;
}

.player-entry {
    text-align: left;
    padding: 0.25rem;
    font-size: 1rem;
}

.notification-div {
    position: absolute;
    top: 0;
}

.interface-element {
    border: 1px solid grey !important;
    background-color: #333333 !important;
}