#lobby-messages {
    height: 25vh !important;
    border: 1px solid grey;
    background-color: #333333;
}

.button-start {
    width: 200px;
}

.lobby-screen {
    height: 80vh;
    position: relative;
    padding: 1rem;
}

#setup-role-list {
    border: 1px solid grey;
    background-color: #333333;
    height: 64vh;
    width: inherit;
    box-sizing: border-box;
}

#settings-top {
    border: 1px solid grey;
    background-color: #333333;
}

#lobby-start {
    width: inherit;
}

#catalog-teams {
    border: 1px solid grey;
    background-color: #333333;
    height: 20vh;
    width: inherit;
    box-sizing: border-box;
}

.catalog-team {
    text-align: left;
    font-size: 1rem;
}

.catalog-role {
    margin: 0 !important;
    text-align: left;
    font-size: 1rem;
}

#catalog-roles {
    border: 1px solid grey;
    background-color: #333333;
    height: 43vh;
    width: inherit;
    box-sizing: border-box;
}

.catalog-item {
    padding: 0.42rem;
}

.setup-role {
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
}

#message-input {
    border-radius: 0 0;
    border: 1px solid grey;
}

#preset-list {
    height: 31vh;
    border: 1px solid grey;
}

.preset-entry {
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
}

#preset-information {
    height: 25vh;
}

#role-information {
    height: 23vh;
}

#role-abilities {
    color: #BBDDFF;
}

#role-goal {
    color: #BBAA99;
}

#players {
    border: 1px solid grey;
    background-color: #333333;
}

.player-list {
    height: 64vh;
}

.player-entry {
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
}

.direct-add-button {
    margin: 0 !important;
    font-size: 1rem;
    border-left: 1px solid rgb(68, 68, 68) !important;
    border-bottom: 1px solid rgb(68, 68, 68) !important;
}