/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navbar */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-mafia {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#mafia-header {
  font-family: "Corleone Due", "Helvetica Neue", serif;
  font-size: 2rem;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

hr {
  border-color: #dee2e6;
}


/* Roles */
.role-name {
  text-shadow: 
          -1px -1px 0 black,
          1px -1px 0 black,
          -1px 1px 0 black,
          1px 1px 0 black,
          0 1px 0 black,
          1px 0 0 black,
          0 -1px 0 black,
          -1px 0 0 black;
}

.role-border {
  background-color: #303030;
}

.role-link {
  color: inherit;
}

.roles {
  background-color: #404040;
}

.role-header {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.role-separator {
  border-color: grey;
}


/* Fix for disabled buttons in bootstrap */
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

li.disabled {
  cursor: not-allowed;
}

li.disabled a {
  pointer-events: none;
}


/* Corleone Font */
@font-face {
  font-family: "Corleone";
  src: url("../font/Corleone.ttf");
}

@font-face {
  font-family: "Corleone Due";
  src: url("../font/CorleoneDue.ttf");
}