<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="false"  />
        <httpRuntime  />
        <sessionState
                cookieless="false"
                regenerateExpiredSessionId="true"
                timeout="30" />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
