<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mafia - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="game-body">
<main role="main" class="pb-3">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    $('.keep_open').click(function(e) {
        const target = $(this).data('target');
        $(target).collapse('toggle');
    });
    
    $('.no-unclick').on('hide.bs.dropdown', function (e) {
        if (e.clickEvent) {
            e.stopPropagation();
            e.preventDefault();
        }
    });
</script>
@RenderSection("Scripts", false)
</body>
</html>